:root {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  flex-direction: column;  
  margin: 5vw; }

.banner .card {
  background: #2c2c2c;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 2px #35eea4;
  display: flex;
  flex-direction: column;
  }
  .banner .card .heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1vh;
    padding: 2vw; }
  .banner .card .sub-heading {
    color: #35eea4;
    font-family: "Playfair Display", serif;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 30px 30px; }
    .banner .card .sub-heading button {
      background: none;
      border: none;
      border-radius: 5px;
      color: #35eea4;
      font-family: "Istok Web", sans-serif;
      font-size: 1rem;
      letter-spacing: 8px;
      margin-top: 2vh;
      padding: 10px;
      text-transform: uppercase;
      transition: box-shadow 0.3s linear 0.1s; }
    .banner .card .sub-heading button:hover {
      cursor: pointer;
      box-shadow: 0 3px 20px 0 #35eea4; }

.row {
  display: flex;
  flex-direction: row;
  margin-top: 5vw;
  
 }

  .my-image {
    border: 1px solid #35eea4;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 2px #2c2c2c;
    width: 30vw;
    
  }

.paragraph {
  color: #2c2c2c;
  font-family: "Istok Web", sans-serif;
  margin : 1vw;
}

.icon-group {
  margin-top: 2vh; }
  .icon-group .icon {
    margin-right: 2vw;
    width: 5vw; }

@media only screen and (max-width: 768px) and (min-width :480px){

  .row{
    align-items: center;
    flex-direction: column;
    
  }
  .row .image{
    order: -1; 
    justify-content: center;
  }
  .my-image{
    width:50vw; 
}
}
@media only screen and (max-width:480px){
   
      .row{
        flex-direction: column;  
        align-items: center;   
        
      }
      .row .image{
        order: -1; 
      }
      .my-image{
        width:50vw; 
    }      
}